

.addButton{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 999; 
    
    height: 50px;
    width: 50px;
    background-color: rgb(34, 93, 255) ;
    border-radius: 30px;
}

.addButtonSymbol{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 7px;
        
    font-weight: 600;
    font-size: 35px;
}