

.mainholder{
    width: 80%;
    height: 70px;
    background-color: white;
    border-radius: 20px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerHeadline{
    color: black;
    font-weight: 600;
}