

.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 35px;
  left: 0;
}

.textContainer{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

.backButton{
  width: 35px;
  height: 35px;
}
